<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
          <h3 class="display-4">MidTerm Test</h3>
          <h2 class="display-4"> Done by Preethi Kumarasamy</h2>
      
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




